<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./assets/styles/bootstrap/bootstrap.css"> -->
    <link rel="stylesheet" href="./assets/scrypts/fontawesome-free-5.15.4-web/css/all.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.0.1/dist/alpine.js" defer=""></script>
    <link rel="stylesheet" href="/assets/styles/sass/main.css">
    <link rel="stylesheet" href="/assets/styles/css/prism.css">
    <title>JavatPoint</title>   
</head>

<body class="bg-slate-100">
    <!-- Navbar -->
    <div class="bg-gray-100 transform shadow-lg z-50">

        <nav x-data="{ open: false }" class="bg-white border-b-2">
            <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="flex justify-between items-center px-2 lg:px-0">
                        <div class="flex-shrink-0">
                            <a href="/" class="text-slate-900 bold">Logo</a>
                        </div>
                        <div class="hidden lg:block lg:ml-6">
                            <div class="flex space-x-4">
                                <!-- Current: "bg-gray-900 text-slate-900	", Default: "text-gray-500 hover:bg-gray-700 hover:text-slate-900	" -->
                                <a href="/"
                                    class="bg-slate-50 text-slate-900	 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                                <a href="#tutorials"
                                    class="tutorials_link text-gray-500 hover:bg-slate-50	 hover:text-slate-900	 px-3 py-2 rounded-md text-sm font-medium">Tutorials</a>
                                        
                            </div>
                            
                        </div>
                    </div>
                    <div class="flex lg:hidden">
                        <!-- Mobile menu button -->
                        <button type="button"
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-slate-900	 hover:bg-slate-50 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                            aria-controls="mobile-menu" @click="open = !open" aria-expanded="false"
                            x-bind:aria-expanded="open.toString()">
                            <span class="sr-only">Open main menu</span>
                            <svg x-description="Icon when menu is closed.
    
    Heroicon name: outline/menu" x-state:on="Menu open" x-state:off="Menu closed" class="block h-6 w-6"
                                :class="{ 'hidden': open, 'block': !(open) }" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16">
                                </path>
                            </svg>
                            <svg x-description="Icon when menu is open.
    
    Heroicon name: outline/x" x-state:on="Menu open" x-state:off="Menu closed" class="hidden h-6 w-6"
                                :class="{ 'block': open, 'hidden': !(open) }" xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div x-description="Mobile menu, show/hide based on menu state." class="lg:hidden" id="mobile-menu"
                x-show="open">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <!-- Current: "bg-gray-900 text-slate-900	", Default: "text-gray-500 hover:bg-gray-700 hover:text-slate-900	" -->
                    <a href="/" class="bg-slate-50	text-slate-900	 block px-3 py-2 rounded-md text-base font-medium">Home</a>
                    <a href="#tutorials"
                        class="text-gray-500 hover:bg-slate-50	 hover:text-slate-900	 block px-3 py-2 rounded-md text-base font-medium">Tutorials</a>
                </div>

            </div>
        </nav>



        <div x-show="open" x-description=" Flyout menu, show/hide based on flyout menu state."
            class="flayout_menu absolute z-10 inset-x-0 transform shadow-lg" x-ref="panel" @click.away="open = false" style="display: none">
            <div class="absolute inset-0 flex" aria-hidden="true">
                <div class="bg-white w-1/2"></div>
                <div class="bg-gray-50 w-1/2"></div>
            </div>
            <div class="relative max-w-screen-xl mx-auto">
                <nav class="px-4 py-4 bg-white sm:py-5 sm:px-6 lg:px-8 xl:pr-12"
                    aria-labelledby="solutionsHeading">
                    <div>
                        <h3 class="text-sm font-medium tracking-wide text-gray-500 uppercase">
                            LANGUAGES
                        </h3>
                        <ul class="mt-3 grid grid-cols-3 gap-4 sm:grid-cols-6">
                            <% languages.forEach(language => { %> 
                            <li class="">
                                <a href="/<%= language.language_slug %>/"
                                    class="p-3 flex items-center rounded-md text-base font-medium text-gray-900 hover:bg-gray-50 transition ease-in-out duration-150">
                                    <i class="fas fa-code"></i>
                                    <span class="ml-4"><%= language.language_name %></span>
                                </a>
                            </li>
                            <% }) %> 
                        
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

    </div>